*.pyc
*.pyo
*.*~
*.swp

.env
.idea
.idea/
.idea/*
.git/logs/*
.git/logs
.git/objects/*
.project
.pydevproject
.ropeproject
.ropeproject/*
.settings/*
.metadata
.metadata/
.metadata/*
.vscode/
.vscode/*
.DS_Store
.venv/
./venv
venv/

celerybeat-schedule*
celerybeat-schedule.db
media/tmp/*
media/exportacao/*
media/exportacao/*.zip
media/exportacao/mapas/*.xls
media/images/logo_cliente.png
media/images/background.jpg
!media/tmp/README.md
!media/images/README.md
media/planilhas/*
.coverage
coverage.xml
