{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta
            name="keywords"
            content="erp, admin, dashboard, calculo, juridico, trabalhista"
        />
        <link href="{% static 'libs/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link
            rel="icon" type="image/png" sizes="16x16"
            href="{% static 'imagens/favicon.png' %}"
        />
        <title>G-Calc</title>
    </head>
    <body>
        <div style="margin-top: 10vh; padding-bottom: 20px;">
            <div class="" style="background-color:#273041">
                <div class="text-center pt-3 pb-3">
                    <span class="db">
                        <img src="{% static 'imagens/logo_p.png' %}" alt="logo" style="height: 400px;"/>
                    </span>
                </div>
            </div>
            <div class="auth-box ">
                <div class="text-center pt-3 pb-3">
                    <h1>
                        Em Breve Novidades
                    </h1>
                </div>
            </div>
        </div>
        <script src="{% static 'libs/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
